<ion-view view-title="Modificar cita">
    <ion-content class="padding content-bg-style">

		
<div class="list">



			<div class="panel panel-primary">
				<div class="panel-heading"><i class="icon ion-calendar"></i>
					Modificar cita
				</div>
			<div class="panel-body">
				<form name="myForm" class="form-horizontal" role="form" ng-submit="submitForm()">			
					<div ng-class="myForm.start.$error.required || !ValidateDates() ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Inici</label>
						<div class="col-sm-10">						
							{{ appointment.start_date }} {{ appointment.start_hour }}
						</div>
					</div>	
					<div ng-class="myForm.end.$error.required || !ValidateDates() ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Fi</label>
						<div class="col-sm-10">
							{{ appointment.end_date }} {{ appointment.end_hour }}
						</div>
					</div>
					<div ng-class="myForm.service_id.$error.required ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Servei</label>
						<div class="col-sm-10">
							{{ appointment.service_name }}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Professional</label>
						<div class="col-sm-10">
							{{ appointment.professional_name }}				
						</div>
					</div>						
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Observacions del professional</label>
						<div class="col-sm-10">							
							{{ appointment.comment_professional }}													
						</div>
					</div>				
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Observacions del client</label>
						<div class="col-sm-10">	
							<textarea rows="4" class="form-control" name="comment_client" ng-model="appointment.comment_client" ng-minlength="0" ng-maxlength="4000">						
							{{ appointment.comment_client }}							
							</textarea>
						</div>
					</div>						
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">&nbsp;</label>
						<div class="col-sm-10">
							<button ng-disabled="myForm.start.$error.required || myForm.end.$error.required || myForm.service_id.$error.required || !ValidateDates()" type="submit" class="btn btn-success">
								<i class="ion-checkmark-round"></i> Desar
							</button>	
						</div>
					</div>						
							
				</form>				
			</div>				
				
				
	

	</div>
	<a href="#/app/appointments" target="_self"><button ion-button outline item-right icon-left class="btn btn-large btn-default"><i class="icon ion-arrow-left-c"></i> Les meves cites</button></a>	
</div>		
		
		
		
    </ion-content>
</ion-view>


