<ion-view view-title="Les meves cites">
    <ion-content class="padding content-bg-style">	
		<a ng-hide="currentUser.roleId!=2" href="#/app/appointmentsSelection" target="_self"><button ion-button outline item-right icon-left class="btn btn-large btn-primary"><i class="icon ion-plus-round"></i> Seleccionar Cita</button></a>
		<a ng-hide="currentUser.roleId!=1" href="#/app/appointment_create" target="_self"><button ion-button outline item-right icon-left class="btn btn-large btn-primary"><i class="icon ion-plus-round"></i> Afegir Cita</button></a>
		<span ng-show="appointments.appointments.length">&nbsp;&nbsp;&nbsp;Nombre de cites: {{appointments.appointments.length}}</span>
		<span ng-hide="appointments.appointments.length">No hi ha cites per l'usuari {{currentUser.name}}</span>		
		<br><br>
        <div class="list">
			<form id="myForm">
            <span ng-repeat="appointment in appointments.appointments">									
				<div ng-class-odd="'panel panel-primary'" ng-class-even="'panel panel-danger custom-panel-danger'">
					<div class="panel-heading">{{ appointment.start_day }} {{ appointment.start_date }}</div>
					<div class="panel-body">	
						{{ appointment.start_hour }} - {{ appointment.end_hour }}<br>
						{{ appointment.client_name }}<br>
						{{ appointment.professional_name }}<br>
						{{ appointment.service_name }}<br><br>
						<a class="btn btn-info btn-xs" title="Mostrar" ng-href="#/app/appointment/{{ appointment.id }}"><i class="icon ion-ios-medical"></i> Mostrar</a>													
						<a ng-hide="currentUser.roleId!=1" class="btn btn-primary btn-xs" title="Modificar" ng-href="#/app/appointment_edit/{{ appointment.id }}"><i class="icon ion-edit"></i> Modificar</a>													
						<a ng-hide="currentUser.roleId!=2" class="btn btn-primary btn-xs" title="Modificar" ng-href="#/app/appointment_edit_client/{{ appointment.id }}"><i class="icon ion-edit"></i> Modificar</a>													
						<button ng-hide="currentUser.roleId!=2" class="btn btn-danger btn-xs" title="Cancel·lar" ng-click="cancelAppointment(appointment.id)"><i class="icon ion-close"></i> Cancel·lar</button>						
						<button ng-hide="currentUser.roleId!=1" class="btn btn-danger btn-xs" title="Eliminar" ng-click="deleteAppointment(appointment.id)"><i class="icon ion-trash-b"></i> Eliminar</button>						
					</div>
				</div>
            </span>
			 </form>
        </div>
    </ion-content>
</ion-view>
