<ion-view view-title="Modificar cita">
    <ion-content class="padding content-bg-style">

		
<div class="list">



			<div class="panel panel-primary">
				<div class="panel-heading"><i class="icon ion-calendar"></i>
					Modificar cita
				</div>
			<div class="panel-body">
				<form name="myForm" class="form-horizontal" role="form" ng-submit="submitForm()">			
					<div ng-class="myForm.start.$error.required || !ValidateDates() ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Inici</label>
						<div class="col-sm-10">						
							<div name="start" required class="form-control" ion-datetime-picker monday-first title="'Escollir data'" ng-model="appointment.start">
							{{appointment.start| date: "dd/MM/yyyy HH:mm"}}
							</div>
							<span class="help-block" ng-show="myForm.start.$error.required">Cal informar el camp Inici</span>
						</div>
					</div>	
					<div ng-class="myForm.end.$error.required || !ValidateDates() ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Fi</label>
						<div class="col-sm-10">
							<div required  name="end" class="form-control" ion-datetime-picker monday-first title="'Escollir data'" ng-model="appointment.end">
							{{appointment.end| date: "dd/MM/yyyy HH:mm"}}
							</div>
							<span class="help-block" ng-show="myForm.end.$error.required">Cal informar el camp Fi</span>
							<span class="help-block" ng-show="!ValidateDates()">Inici ha de ser anterior a Fi</span>
						</div>
					</div>
					<div ng-class="myForm.service_id.$error.required ? 'form-group has-error' :'form-group' ">
						<label class="control-label col-sm-2 text-right">Servei</label>
						<div class="col-sm-10">
							<select required class="form-control" name="service_id" ng-model="appointment.service_id">
								<option ng-selected="{{service.service_id == appointment.service_id}}" ng-repeat="service in services" value="{{service.service_id}}">{{service.name}}</option>
							</select>
							<span class="help-block" ng-show="myForm.service_id.$error.required">Cal informar el camp Servei</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Observacions del professional</label>
						<div class="col-sm-10">
							<textarea rows="4" class="form-control" name="comment_professional" ng-model="appointment.comment_professional" ng-minlength="0" ng-maxlength="4000">
							{{ appointment.comment_professional }}
							</textarea>
							
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Client</label>
						<div class="col-sm-10">
							{{ appointment.client_name }}				
						</div>
					</div>				
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">Observacions del client</label>
						<div class="col-sm-10">							
							{{ appointment.comment_client }}							
							
						</div>
					</div>						
					<div class="form-group">
						<label class="control-label col-sm-2 text-right">&nbsp;</label>
						<div class="col-sm-10">
							<button ng-disabled="myForm.start.$error.required || myForm.end.$error.required || myForm.service_id.$error.required || !ValidateDates()" type="submit" class="btn btn-success">
								<i class="ion-checkmark-round"></i> Desar
							</button>	
						</div>
					</div>						
							
				</form>				
			</div>				
				
				
	

	</div>
	<a href="#/app/appointments" target="_self"><button ion-button outline item-right icon-left class="btn btn-large btn-default"><i class="icon ion-arrow-left-c"></i> Les meves cites</button></a>	
</div>		
		
		
		
    </ion-content>
</ion-view>


