<ion-view view-title="Cita">
    <ion-content class="padding content-bg-style">

		
<div class="list">
	<span ng-repeat="appointment in appointments.appointments">	


			<div class="panel panel-primary">
				<div class="panel-heading"><i class="icon ion-calendar"></i>
					Mostrar cita
				</div>
				<div class="panel-body">
					<div class="row">
						<label class="control-label col-sm-2 text-right">Inici</label>
						<div class="col-sm-10">
							{{ appointment.start_date }} {{ appointment.start_hour }}
						</div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2 text-right">Fi</label>
						<div class="col-sm-10">
							{{ appointment.end_date }} {{ appointment.end_hour }}
						</div>
					</div>
					<div class="row">
						<label class="control-label col-sm-2 text-right">Servei</label>
						<div class="col-sm-10">
							{{ appointment.service_name }}
						</div>
					</div>	
					
					<div class="row">
						<label class="control-label col-sm-2 text-right">Professional</label>
						<div class="col-sm-10">
							{{ appointment.professional_name }}
						</div>
					</div>	
					<div class="row">
						<label class="control-label col-sm-2 text-right">Observacions del professional</label>
						<div class="col-sm-10">
							{{ appointment.comment_professional }}
						</div>
					</div>						
					<div class="row">
						<label class="control-label col-sm-2 text-right">Client</label>
						<div class="col-sm-10">
							{{ appointment.client_name }}
						</div>
					</div>	
					<div class="row">
						<label class="control-label col-sm-2 text-right">Observacions del client</label>
						<div class="col-sm-10">
							{{ appointment.comment_client }}
						</div>
					</div>

				</div>

	</div>
	<a href="#/app/appointments" target="_self"><button ion-button outline item-right icon-left class="btn btn-large btn-default"><i class="icon ion-arrow-left-c"></i> Les meves cites</button></a>	
	</span>
	<span ng-hide="appointments.appointments.length">No s'ha trobat la cita</span>
</div>		
		
		
		
    </ion-content>
</ion-view>


