<ion-view view-title="Seleccionar cites">
    <ion-content class="padding">
		<span ng-show="appointments.appointments.length">&nbsp;&nbsp;&nbsp;Nombre de cites disponibles: {{appointments.appointments.length}}</span>
		<span ng-hide="appointments.appointments.length">No hi ha cites disponibles per l'usuari {{currentUser.name}}</span>		
		<br><br>	
        <div class="list">
            <span ng-repeat="appointment in appointments.appointments">								
				<div ng-class-odd="'panel panel-primary'" ng-class-even="'panel panel-danger custom-panel-danger'">
					<div class="panel-heading">{{ appointment.start_day }} {{ appointment.start_date }}</div>
					<div class="panel-body">	
						{{ appointment.start_hour }} - {{ appointment.end_hour }}<br>
						{{ appointment.client_name }}<br>
						{{ appointment.professional_name }}<br>
						{{ appointment.service_name }}<br><br>
						<a class="btn btn-info btn-xs" title="Mostrar" ng-href="#/app/appointment/{{ appointment.id }}"><i class="icon ion-asterisk"></i> Mostrar</a>													
						<a class="btn btn-primary btn-xs" title="Modificar" href=""><i class="icon ion-edit"></i> Modificar</a>													
						<button class="btn btn-success btn-xs" title="Seleccionar" ng-click="selectAppointment(appointment.id)"><i class="icon ion-android-checkbox"></i> Seleccionar</button>												
					</div>
				</div>
            </span>
        </div>		
    </ion-content>
</ion-view>
