<ion-view view-title="Iniciar sessió">
  <ion-content>
    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contrasenya</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Iniciar sessió</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>