<ion-side-menus enable-menu-with-back-views="false" style="background-color:#428bca">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
		<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.auth"  style="cursor:pointer" ng-if="currentUser.id==null">
					  <i class="icon ion-log-in"></i>
					  <h2>Iniciar sessió</h2>
				</ion-item>
		<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.appointments" style="cursor:pointer" ng-if="currentUser.id">
					  <i class="icon ion-calendar"></i>
					  <h2>Les meves cites</h2>
		</ion-item>				

		<ion-item class="item-icon-left" nav-clear menu-close ng-click="logout()"  style="cursor:pointer" ng-if="currentUser.id">
					  <i class="icon ion-log-out"></i>
					  <h2>Tancar sessió</h2><small>({{currentUser.name}})</small>
		</ion-item>			
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
