/* Empty. Add your own CSS if you like */
/*
.nav-bar-block, .bar {
  background-color: #428bca !important;
  color:#FFFFFF;
}*/
.custom-panel-danger .panel-heading{
  background-color: #a94442 !important;
  color:#FFFFFF;
}
.custom-panel-danger .panel-body{
  background-color: #F2DEDE !important;
  color:#333333;
}

.panel-primary .panel-body{
  background-color: #d9edf7 !important;
  color:#333333;
}